/**********************************************************************************************

	Title: CSS for MOTAC MicroMovie Site
	Author: Elmo Wu (by xuedesign studio)
	Author URL: http://www.xuedesign.tw/
	Version: v1.0 (2015/12)

***********************************************************************************************
		1 通用
		2.內容頁
		   2-1. 基本架構
		   2-2. 精彩影片
		   2-3. 行車懶人包
		   2-4. 劇照花絮
***********************************************************************************************/

/* 1. 通用 
===============================================================================================*/
body{
	font-family:"微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#513030;
	background:url(../images/bg_site.png) repeat}
a:link {text-decoration:underline; color:#00adee}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}

.clean{ clear:both}
.hidden{ display:none}
::selection {
   background:#4b4608;
   color:#fffcdb}
::-moz-selection {
   background:#4b4608;
   color:#fffcdb}

/* 2. 內容頁  
===============================================================================================*/
#wrap{
	display:block;
	width:1238px;
	margin:0 auto}

/* 2.1 基本架構*/	
h1 a{
	display:block;
	position:absolute;
	top:35px;
	left:-1px;
	width:186px;
	height:77px;
	background:url(../images/pic_h1.png) no-repeat;
	text-indent:-9999px}
footer{
	clear:both;
	display:block;
	position:relative;
	width:1238px;
	height:46px;
	background:url(../images/bg_footer.png) repeat-x;
	-webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px}
footer p{
	text-align:center;
	font-size:0.813em;
	color:#fffcdb;
	margin:0;
	padding:0;
	line-height:46px}
footer .txt_ad{
	display:block;
	position:absolute;
	top:14px;
	right:48px;
	width:52px;
	height:24px;
	background:url(../images/pic_ad.png) no-repeat;
	text-indent:-9999px}			
	
#box_container{
	display:block;
	position: absolute;
	top: 15px;
    left: 50%;
	width:1238px;
	margin: 0 0 0 -620px;
	-webkit-box-shadow: 0 0 20px #4E4E4E;
    -moz-box-shadow: 0 0 20px #4E4E4E;
    box-shadow: 0 0 20px #4E4E4E;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
	background: -webkit-gradient(linear, left top, right top, from(#CDF8FF), to(#80E0F8));
	background: -webkit-linear-gradient(top, #CDF8FF, #80E0F8);
	background: -moz-linear-gradient(top, #CDF8FF, #80E0F8);
	background: -o-linear-gradient(top, #CDF8FF, #80E0F8);
	background: -ms-linear-gradient(top, #CDF8FF, #80E0F8);
	background: linear-gradient(top, #CDF8FF, #80E0F8);
	background-color: #CDF8FF}
#box_subcontent{
	display:block;
	position:relative;
	width:1238px;
	min-height:700px}
#bg_city{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	background:url(../images/bg_city.png) repeat-x;
	width:1238px;
	height:160px}		
#box_aside{
	display:block;
	position:relative;
	float:left;
	z-index:99;
	width:195px}
#box_aside ul{
	display:block;
	margin-top:130px;
	list-style:none}
#box_aside li a{
	display: block;
	width:116px;
	height:98px;
	text-indent:-9999px;
	background:url(../images/btn_nav.png) no-repeat;
	margin-bottom:10px;
	list-style:none}	
#box_aside a.nav_01{ background-position: 0 0}
#box_aside a.nav_01:hover, #box_aside a.nav_01.navin{ background-position: 0 -98px}
#box_aside a.nav_02{ background-position: -116px 0}
#box_aside a.nav_02:hover, #box_aside a.nav_02.navin{ background-position: -116px -98px}
#box_aside a.nav_03{ background-position: -232px 0}
#box_aside a.nav_03:hover, #box_aside a.nav_03.navin{ background-position: -232px -98px}
#box_aside a.nav_04{ background-position: -348px 0}
#box_aside a.nav_04:hover{ background-position: -348px -98px}	

#box_pagemain{
	display:block;
	position:relative;
	float:right;
	width:1028px;
	padding-top:35px}
#box_pageinfo{
	display: block;
	width:913px;
	min-height:700px;
	margin:0 auto;
	background: url(../images/bg_pageinfo.png) repeat-y;
	-webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0}	
#bar_title{
	display:block;
	width:900px;
	height:51px;
	padding-left:13px;
	background:#75bded;
	-webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0}	
#bar_title h3{
	display:block;
	background: url(../images/bg_pagetitle.png) no-repeat;
	width:237px;
	height:51px;
	margin:0;
	text-indent:-9999px}
#bar_title .ptitle_01{ background-position:0 0}
#bar_title .ptitle_02{ background-position:0 -51px}
#bar_title .ptitle_03{ background-position:0 -102px}
#mytree{
	display:block;
	position:absolute;
	bottom:-3px;
	left:-40px;
	background:url(../images/pic_tree-s.png) no-repeat;
	width:297px;
	height:524px;}
#mymoto{
	display:block;
	position:absolute;
	bottom:-3px;
	left:-100px;
	background:url(../images/pic_moto-s.png) no-repeat;
	width:132px;
	height:131px}	

#box_main{
	display:block;
	width:660px;
	/*height:300px;*/
	margin:30px 30px 0 215px;
	padding:0}	
.abgne_tab ul, .abgne_tab li {
	margin: 0;
	padding: 0;
	list-style: none}
.abgne_tab {
	clear: left;
	width: 660px;
	margin: 10px 0 0}
.tabs { width: 100%; height: 149px}
.tabs li a{
	display:block;
	position: relative;
	float: left;
	height: 149px; 
	text-indent:-9999px;
	overflow: hidden;
	margin:0 15px;
	background:url(../images/bg_tabtitle.png) no-repeat}
.tabs li a.tabs-01{ width: 320px; background-position: 0 0}
.tabs li a.tabs-02{ width: 204px; background-position: -320px 0}	
.tabs a:hover.tabs-01, .tabs .active a.tabs-01{ background-position:0 -149px}
.tabs a:hover.tabs-02, .tabs .active a.tabs-02{ background-position:-320px -149px}

.tab_container {
	clear: left;
	width: 100%;
	border-top: 2px solid #fff;
	margin-top: 5px}
.tab_container .tab_content {
	display: block;
	position:relative;
	padding: 15px 30px}
.tab_container .tab_content h3{
	font-size:1.125em;
	line-height:25px;
	padding:0}
.tab_container .tab_content p, .box_profile p, .box_service p{
	font-size:0.938em;
	line-height:24px;
	padding-left:20px;
	text-shadow:1px 1px 0 #FFF8F6}
#tab2{ display:none}	
		
/* 2.2 精彩影片*/	
/* 2.3 行車懶人包*/	
/* 2.4 劇照花絮 */	
				 	 	
			



/*新增動畫效果 #20150831*/	
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite}
.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 2s}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;	
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}						